body{
		margin: 1% 15% 1% 15%;
	}
form {
	border: 2px solid #c5d8f7;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	/*background-color: #c5d8f7; #7fa9ef */
}

h2 {
	color: #1c5d79;
}

.subBtn {
	border-radius: 10px;
	background-color: #75aaff;
	color: white;
}

.alertMsg {
	color: red;
	font-size: 11px;
	margin-left: 10%;
}

input[type="text"], input[type="password"], input[type="number"] {
	border: white; /* #1c5d79*/
	border-bottom: #c5d8f7 1px solid;
}
input[type="number"]:disabled {
    background: #f2f4f7;
    border-bottom: white;
}

.inputField:disabled {
	background-color: #f2f4f7;
	border-bottom: white;
}

input:focus { 
  outline: none; 
}

#amsInput{
	margin: 0 23%;
}

#accResult{
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}

div {
	/* border: 1px solid black; */
}

form > div {
	margin-bottom: 2px;
	text-align: justify;
}

span {
	/* border: 1px solid black; */
	font-weight: bold;
	font-size: 12px;
	color: #1c5d79;
}

#listSpan {
	float: left;
	margin-left: 1%;
}

#unitSpan {
	float: right;
	margin-right: 1%;
}

form > div > div {
	margin-top: 2px;
}

table {
	width: 98%;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #1c5d79;
}

.rtd {
	text-align: right;
}

thead tr th {

    height: 32px;

    line-height: 32px;

    text-align: center;

    color: #1c5d79;

	background-color: #7fa9ef;
    background-repeat: repeat-x;

    border-left: solid 1px #FF9900;

    border-right: solid 1px #FF9900;

    border-collapse: collapse;

}
tbody tr {

    background: #dfedf3;

    font-size: 13px;

}
tbody tr th, tbody tr td {

    padding: 6px;

    border: solid 1px #326e87;

}

table, tr, td, th {
	border: 1px solid black;
}


/* 1023px 데스크톱 우선 */
@media (max-width: 1023px){
	
	#amsInput{
		/* background-color: gray; */
		margin: 0 15%;
		font-size: 15px; 
	}
	
	#accResult{
		margin: 0 1% 3% 1%;
	}
}

/* 최대 폭 767px */
@media (max-width: 767px){
	body {
		margin: 1%;
	}
	#amsInput{
		/* background-color: olive; */
		margin: 0 13%;
	}
	
	form > div > div > span{
		font-size: 12px;
	}
	
	#listSpan, #unitSpan{
		font-size: 10px;
	}
	
	tr, td{
		font-size: 10px;
	}
	
	.inputField {
		width: 30%;
	}
	
	.subBtn {
		font-size: 11px;

	}
	
	thead {
		font-size: 11px;
	}
}
