
form {
	border: 1px solid black;
	text-align: center;
}

#amsInput{
	background-color: #FFB2D9;
	margin: 0 25% 0 25%;
}

div {
	/* border: 1px solid black; */
}

form > div {
	margin-bottom: 2px;
	text-align: justify;
}

#whatSpan {
	float: left;
	margin-left: 1%;
}

#unitSpan {
	float: right;
	margin-right: 1%;
}

form > div > div {
	margin-top: 2px;
	
}

span {
	/* border: 1px solid black; */
	font-weight: bold;
}

table {
	width: 98%;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	color: #1c5d79;
}

table, tr, td, th {
	border: 1px solid black;
}


/* 1023px 이하일때 적용 스타일 */
@media (max-width: 1023px){
	#amsInput{
		background-color: gray;
		margin: 0 25% 0 25%;
	}
	
	
}
/* 767px이하일때 적용 스타일 */
@media (max-width: 767px){
	#amsInput{
		background-color: olive;
		margin: 0 25% 0 25%;
	}
	
	form > div > div > span{
		font-size: 12px;
	}
	
	.inputField {
		width: 30%;
	}
	
	.subBtn {
		font-size: 11px;
		padding-left: 0;
		padding-right: 0;
	}
}
